*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.exe
*.out
*.app
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.suo
*.recipe
*.iobj
*.ipdb
*.log
*.tlog
*.lastbuildstate
*.pdb